
# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_SERVER=
POSTGRES_PORT=
POSTGRES_DB=

# JWT
# 你可以用以下命令生成一个强密钥: openssl rand -hex 32
SECRET_KEY=

# 邮件
SMTP_SERVER=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=

# 火山引擎
HUOSHAN_ACCESS_KEY=
HUOSHAN_SECRET_KEY=

# 支付宝
ALIPAY_APP_ID=
ALIPAY_APP_PRIVATE_KEY=
ALIPAY_ALIPAY_PUBLIC_KEY=
ALIPAY_NOTIFY_URL=
ALIPAY_SERVER_URL=